
<div class="container" style="z-index: 15;">  
  <div class="row ">
    <div 
      class=" text-center ml-xl-5 col-xl-12 col-lg-10 col-md-8 col-sm-6 col-6 my-block" 
      style="  margin-left: 100px; margin-top: 20px; padding: 20px; background-color: #f2f2f2; z-index:10;"
    >


<h1>Welcome to Reef Gram </h1>
<p>
Welcome to our social media platform designed specifically for reefkeepers! We 
understand the importance of staying connected with fellow reef enthusiasts, and
 we also know how vital it is to keep track of the elements and 
 graphing them so you know how that affects the health of your reef.
</p>
<p>
Our platform allows you to do both. You can connect with other reefkeepers from 
around the world, share photos and videos of your reef, and get inspired by the 
beauty and diversity of the diferent reef bioms. But we go beyond just a typical 
social media site, by providing you with tools to track and share important 
data related to your aquarium.
</p>
<p>
With our platform, you can easily log and track your elements such
 as DKh, salinity, temperature, and more. You can create graphs and charts to 
 visualize how your reef is evolving over time, and you can share this data
  with other reefkeepers. This functionality not only helps you monitor the 
  health of your reef, but it also provides valuable information to other 
  reefkeepers when you need help troubleshooting and also to others 
  who may be experiencing similar issues.
</p>
<p>
    We believe that connecting with other reefkeepers and sharing knowledge is essential
    to the success of our community. By using our platform, you'll not only have 
    access to a supportive community of fellow reefkeepers, but you'll also be 
    able to learn from each other and contribute to the collective knowledge 
    of our community.
</p>
<p>
    With your permission we will also track your measurements and overtime create solutions
    and heads up if your tank starts trending up or down so that you can catch issues before
     they happen
</p>
<p>
Thank you for joining us and becoming a part of our community of passionate and 
dedicated reefkeepers.
</p>
<p>Build with Ruby on Rails and Angular</p>

</div>
  </div>
</div>
