<div id="<%= dom_id post %>" 
      class=" text-center post-container col-6" 
      style=" margin: auto;"
>
 

  
 
  <p>
    
    <%= link_to "", post.user, class:"post-link" %>
  </p>

  <% post.images.each do |image| %>

      <%= image_tag(image, style: " max-width: 50%; height: auto; objext-fit: contain; ") %>
  <% end %>

 <p>
        <%= post.title %>
  </p>
</div>



<p>
        <%#= post.description %>
  </p>

  <p>
        <%#= post.keywords %>
  </p>
  <p>
        <%#= post.user.email %>
  </p>