
<%= stylesheet_link_tag("post") %>

<p style="color: green"><%= notice %></p>



<div id="posts" class="text-center">

  <%= turbo_frame_tag :results, data: { turbo_action: 'advance' } do %>   <!-- Render a Turbo frame with the identifier :results and a data attribute for turbo_action -->
    <div id="posts"></div>                                                <!-- Render an empty div with an id of "posts" -->
    <%= turbo_frame_tag :pagination, loading: :lazy, src: posts_path(format: :turbo_stream) %> <!-- Render a Turbo frame with the identifier :pagination and a data attribute for loading, that loads the posts_path with a format of :turbo_stream -->
  <% end %> 

</div>


